
$primary: rgb(226, 11, 11);
$body-bg: rgb(0, 0, 0);



@import '~bootstrap/scss/bootstrap.scss';
$color:red;
.my-flix {
  color: $color;
  font-size: larger;
}

.Label{
  font-weight: bold;
}

.movie-poster{
  width: 300px;
  height: 400px;
}


.movie-poster2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
}

.film-info{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'movie-poster';
  src:  url('./movie_poster/Film Premieres.otf')
}



Label, h1,ul, span, p, h2{
  font-family: 'movie-poster';
  color: red;
}

button.btn.btn-primary, button.btn.btn-primary:hover{
  font-family: 'movie-poster';
  color:black;
}

.input-bg,.form-control:focus, .input-bg:focus, .form-control{
  background-color:white;
  color:black;
}

 .movie-poster:hover {
  opacity: 0.70;
}