
$primary: rgb(226, 11, 11);
$body-bg: rgb(0, 0, 0);



@import '~bootstrap/scss/bootstrap.scss';
$color: blue;
.my-flix {
  color: $color;
  font-size: larger;
}

.Label{
  font-weight: bold;
}

.movie-poster{
  width: 300px;
  height: 400px;
}


.movie-poster2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
}

.film-info{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'movie-poster';
  src:  url('./movie_poster/Film Premieres.otf')
}

h1,span,Label{
  font-family: 'movie-poster';
  color:red;
}

Label, ul, div{
  font-family: 'movie-poster';
  color: red;
}

button{
  font-family: 'movie-poster';
}

btn-primary{
  font-family: 'movie-poster';
  color: red;
}

html{
  background-color: black;
}
.wallpaper{
  background-color:black
}

.input-bg{
  background-color: white;
}