
$primary: rgba(255, 0, 0, 0.804);
$body-bg: rgb(0, 0, 0);

@media (min-width: 320px) {

  .Video{
    margin-left:auto;
    margin-right:auto;
    width: 50%  !important;
    height: auto   !important;
  }
}
@media (min-width: 768px) {

  .Video{
    margin-left:auto;
    margin-right:auto;
    width: 100%  !important;
    height: 25rem   !important;
  }
}

@media (min-width: 992px) {

  .Video{
    margin-left:auto;
    margin-right:auto;
    width: 75%  !important;
    height: 25rem   !important;
  }
}

  
.movie-box{
  justify-content: center;
  align-items:center;
  }
  

.Video{
  margin-left:auto;
  margin-right:auto;
}




@import '~bootstrap/scss/bootstrap.scss';
$color:  rgba(255, 0, 0, 0.804);
.my-flix {
  color: $color;
  font-size: larger;
}

div.text-center {
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:20px;
}

h1.text.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:50px;
}

.Label{
  font-weight: bold;
}

 .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar, 
.navbar:hover,
.navbar:active,
.navbar:visited,
button.navbar-toggler, 
button.navbar-toggler:hover,
button.navbar-toggler.active,
button.navbar-toggler.visited,
.nav-link,
.nav-link:hover, 
.nav-link:active,
.nav-link:visited,
a.navbar-brand,
a.navbar-brand:hover,
a.navbar-brand:active,
a.navbar-brand:visited
{
  color: rgba(255, 0, 0, 0.804);
  font-family: 'movie-poster';
}

.movie-poster2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
}


.film-info{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'movie-poster';
  src:  url('./movie_poster/Film Premieres.otf')
}

.bs-navbar-color{
  color:green
}

#intro{
  border: 2px dotted yellow;
  border-width: 3px;
  border-radius: 10px;
  padding:6px;
  justify-content: center;
  font-family: 'movie-poster';
  color:   rgba(255, 0, 0, 0.804);
}
Label, ul, span, p, h1, h2, h3, h4, h5{
  font-family: 'movie-poster';
  color:   rgba(255, 0, 0, 0.804);
}

button.btn.btn-primary, 
button.btn.btn-primary:hover,
button.btn.btn-danger,
button.btn.btn-danger:hover,
button.btn.btn-success,
button.btn.btn-success:hover{
  font-family: 'movie-poster';
  color:black;
  background-color:  rgba(255, 0, 0, 0.804);
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.card-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-bg,.form-control:focus, .input-bg:focus, .form-control{
  background-color:white;
  color:black;
}


@media (min-width: 320px) {
  .bob {
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 20rm 20rem 20rem;
    grid-gap: 3rem;
    justify-content: center;
  }
  .movie-poster{
    width: 200px;
    height: 300px;
    margin-left:auto;
    margin-right:auto;
  }
}
@media (min-width: 768px) {
  .bob {
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 20rm 20rem 20rem;
    grid-gap: 3rem;
    justify-content: center;
  }
  .movie-poster{
    width: 300px;
    height: 400px;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width: 992px) {
  .bob {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: 20rm 20rem 20rem;
    grid-gap: 3rem;
    justify-content: center;
  }
  .movie-poster{
    width: 300px;
    height: 400px;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width: 1280px) {
  .bob {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    grid-template-rows: 20rm 20rem 20rem;
    grid-gap: 3rem;
    justify-content: center;
  }
  .movie-poster{
    width: 300px;
    height: 400px;
    margin-left:auto;
    margin-right:auto;
  }
}

.text-center{
  font-family: 'movie-poster';
  color:   rgba(255, 0, 0, 0.804);
}

.movie-box{
justify-content: center;
align-items:center;
}

.fav{
  margin-right: ($spacer * .5) !important;
}

